html {
    scroll-behavior: "smooth";
}

* {
    margin: 0px;
    padding: 0, 10px;
    box-sizing: border-box;
    
}

input[type=text] {
    width: 290px;
    padding: 30px 30px;   
    box-sizing: border-box;
    border:1.5px solid rgb(216, 57, 9);
    border-radius:15px;
    font-size: 13px;
  }

  input[type=tel] {
    width: 290px;
    padding: 30px 30px; 
    box-sizing: border-box;
    border:1.5px solid rgb(216, 57, 9);
    border-radius:15px;
    font-size: 13px;
  }
  input[type=email] {
    width: 290px;
    padding: 30px 30px;
    box-sizing: border-box;
    border:1.5px solid rgb(216, 57, 9);
    border-radius:15px;
    font-size: 13px;
  }

  input[type=input] {
    width: 290px;
    padding: 30px 30px;
    box-sizing: border-box;
    border:1.5px solid rgb(216, 57, 9);
    border-radius:15px;
    font-size: 13px;
  }

  textarea {
    width: 290px;
    padding: 30px 30px;
    box-sizing: border-box;
    border:1.5px solid rgb(216, 57, 9);
    border-radius:15px;
    font-size: 13px;
  }

.submit{
    text-align: center;
    background: linear-gradient(90deg, #F8962C 0%, #EF3C26 100%);
    color: white;
    font-weight: 600;
    padding:20px 40px;
    border-radius:15px;
}




